body{
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    margin: 0px;
}
h2{
    font-size: 30px;
}
.banner-content p{
    padding-bottom: 20px;
}
.banner-content{
    color: white;
    padding: 200px 320px;
    width: 50%;
    text-align: center;
}
.donate-button{
    background-color: rgb(223, 62, 3);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.top-banner{
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.067),rgba(0, 0, 0, 0.963)), url("images/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.donate-content{
    text-align: center;
    width: 40%;
    padding: 10px 400px;
}
.donate-amount-part{
    display: flex;
    padding: 10px 360px;
}
.amount{
    background-color: rgb(232, 232, 232);
    margin: 10px;
    padding: 0px 10px;  
    border-radius: 5px;
}
.select-part{
    border: 2px solid rgb(206, 67, 16);
    color: rgb(255, 99, 68);
    background-color: rgba(255, 68, 0, 0.149);
}
.form{
    margin-bottom: 20px;
}
.form input{
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid rgba(32, 32, 32, 0.494);
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}